
set_io rst 62
set_io redled 34
set_io dbg_l1 32
set_io dbg_l2 30
set_io dbg_l3 27
set_io dbg_l4 25

set_io LCD_DB7  6
set_io LCD_DB6  2
set_io LCD_DB5 64
set_io LCD_DB4 63
set_io LCD_DB3 60
set_io LCD_DB2 57
set_io LCD_DB1 55
set_io LCD_DB0 40
set_io E       38
set_io RW      36
set_io RS      39

set_io pSetButton   33
set_io pAlarmButton 31
set_io pButton0     28
set_io pButton1     26
set_io pButton2      3
set_io pButton3     62


